<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.Extensions" version="0.0.2" targetFramework="net461" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net461" />
  <package id="JetEntityFrameworkProvider" version="6.1.4" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="4.0.56" targetFramework="net461" />
</packages>